RailsAdmin::Config::Actions.add_action "<%= file_name %>", :base, :root do
    show_in_sidebar true
    show_in_navigation false
    breadcrumb_parent [nil]
    # This ensures the action only shows up for authorized users
    visible? authorized?
    # Not a member action
    member false
    # Not a collection action
    collection false
    # Have a look at https://fontawesome.com/v5/search for available icons
    link_icon 'fas fa-file'
    # The controller which will be used to compute the action and the REST verbs it will respond to
    http_methods [:get]
    # Adding the controller which is needed to compute calls from the ui
    controller do
        proc do # This is needed because we need that this code is re-evaluated each time is called
            if request.format.json?
                # This is the code that is executed when the action is called
                # It is executed in the context of the controller
                # So you can access all the controller methods
                # and instance variables
                status = 200
                message = "Hello World!"
                # Note: ActivityLogChannel is expected to re-broadcast messages from the "messages" channel
                ActionCable.server.broadcast("messages", { topic: :<%= file_name %>, status: status, message: message})
                render json: {message: message}.to_json, status: status
            else
                # Renders the action.html.erb view for browser requests (HTML format)
            end
        end
    end
end
